<div class="container-fluid" style="margin-top: 6em;">
  
     
        <div class="container">
          <h2 class="text-center text-uppercase">About Me</h2>
          <p class="text-center w-75 m-auto">An artificial intelligence engineer passionate about cutting-edge
            technology and solving real-world problems, with previous experience in artificial intelligence engineer,
            Research and Development. Skilled in Artificial Intelligence for Computer Vision. Strong coding ability both
            in producing clean and efficient code as well as debugging</p>
          <div class="row">
          </div>
        </div>

      
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->





</div> <!-- end container -->